<div class="app_sidebar-wrap">
    <div class="sidebar_wrap">
    <ul class="sidebar_list">
        <li>
            <a class="sidebar_item active" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a class="sidebar_item"href="/courses/create">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>                <span>Thêm</span>
            </a>
        </li>           
        <li>
            <a class="sidebar_item" href="/search">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
                <span>Tìm kiếm</span>
            </a>
        </li>    
        <li>
            <a class="sidebar_item"href="/me/trash/courses">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                <span>Thùng rác</span>
            </a>
        </li>               
    </ul>
</div>
</div>
<div class="home_wrapper mt-4">
    <div class="row">
        {{#each courses}}
        <div class="col-sm-6 col-lg-4">
            <div class="card">
                <a href="/courses/{{this.slug}}">
                    <img src="{{this.img}}" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a href="/courses/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-text">{{this.description}}</p>
                    <a href="/courses/{{this.slug}}" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="empty-display">
            <tr>
                <td colspan="5" class="text-center">
                    Bạn chưa đăng khóa học nào.
                    <a href="/courses/create">Đăng khóa học</a>
                </td>
            </tr>
        </div>
        {{/each}}
    </div>
    {{#if count}}
    <nav class="mt-4 d-flex justify-content-center" aria-label="Page navigation example">
        <ul class="pagination">
            {{{previousCheck current}}}
            {{#pagination current pages 6}}
                {{#each pages}}
                    {{#if isCurrent}}
                        <li class="page-item active"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                    {{/if}}
                    {{#unless isCurrent}}
                        <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                    {{/unless}}
                {{/each}}
            {{/pagination}}
            {{{nextCheck current pages}}}
        </ul>
    </nav>
    {{/if}}
</div>

