<div class="mt-5 mb-5">
    <form name="search-form" method="POST">
        <div class="form-group">
            <label for="search-input">Tên khóa học</label>
            <input type="text" name="courseName" class="form-control" id="searchInput" aria-describedby="" placeholder="Nhập từ khóa">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>

{{#if courses}}
<table class="table mt-2">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">
                    Tên
                    {{{sortable 'name' _sort}}}
                </th>
                <th scope="col">
                    Trình độ 
                    {{{sortable 'level' _sort}}}
                </th>
                <th scope="col">
                    Thời gian tạo
                    {{{sortable 'createdAt' _sort}}}
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>                                 
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a href="/courses/{{this.slug}}" class="btn btn-primary">Xem</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
</table>
{{/if}}