<div class="profile-body mt-4 mb-4">
    <div class="leftcolumn">
        {{#if user.avatar}}
        <img class="profile-avatar" src="{{user.avatar}}" alt="">
        {{/if}}
        {{#unless user.avatar}}
        <img class="profile-avatar" src="https://bookvexe.vn/wp-content/uploads/2023/04/chon-loc-25-avatar-facebook-mac-dinh-chat-nhat_2.jpg" alt="">        
        {{/unless}}
        <h2 class="profile-h2">{{user.name}}</h2>
        {{#unless user.name}}
        <h2 class="profile-h2">{{user._id}}</h2>
        {{/unless}}
        <p class="profile-tag">Tài khoản của tôi</p>
        <ul class="profile-list">
            <li class="profile-item">
                <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>                
                Thông tin cá nhân
                </a>
            </li>
            <li class="profile-item">
                <a href="/me/stored/courses">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M96 0C43 0 0 43 0 96V416c0 53 43 96 96 96H384h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V384c17.7 0 32-14.3 32-32V32c0-17.7-14.3-32-32-32H384 96zm0 384H352v64H96c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16zm16 48H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16s7.2-16 16-16z"/></svg>
                Khóa học của tôi
                </a>
            </li>
        </ul>
        <p class="profile-tag">Quà tặng</p> 
        <ul class="profile-list">
            <li class="profile-item">
                <a href="" id="discount-btn">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path d="M64 64C28.7 64 0 92.7 0 128v64c0 8.8 7.4 15.7 15.7 18.6C34.5 217.1 48 235 48 256s-13.5 38.9-32.3 45.4C7.4 304.3 0 311.2 0 320v64c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V320c0-8.8-7.4-15.7-15.7-18.6C541.5 294.9 528 277 528 256s13.5-38.9 32.3-45.4c8.3-2.9 15.7-9.8 15.7-18.6V128c0-35.3-28.7-64-64-64H64zm64 112l0 160c0 8.8 7.2 16 16 16H432c8.8 0 16-7.2 16-16V176c0-8.8-7.2-16-16-16H144c-8.8 0-16 7.2-16 16zM96 160c0-17.7 14.3-32 32-32H448c17.7 0 32 14.3 32 32V352c0 17.7-14.3 32-32 32H128c-17.7 0-32-14.3-32-32V160z"/></svg>
                Phiếu giảm giá
                </a>
            </li>
        </ul>
        <a  class="profile-link_btn" href="/auth/logout"><button class="profile-btn">Đăng xuất</button></a>
    </div>

    <div class="rightcolumn">
        <h2 class="profile-h2">Thông tin cá nhân</h2>
        <div>
            <table class="profile-table">
                <tr>
                    <td class="profile-td">Tên</td>
                    <td class="profile-td" id="infor">{{user.name}}</td>
                    {{#unless user.name}}
                    <td class="profile-td" id="infor">{{user._id}}</td>
                    {{/unless}}
                </tr>
                <tr>
                    <td class="profile-td">Email</td>
                    <td class="profile-td" id="infor">{{user.email}}</td>
                </tr>
            </table>
        </div>
        <a class="profile-link_btn"  href=""><button class="profile-btn" id="fix">Quên mật khẩu</button></a>
        <a class="profile-link_btn"  href="/profile/edit/{{user._id}}"><button class="profile-btn" id="fix">Sửa thông tin</button></a>
    </div>
</div>

<script>
    const discountBtn = document.querySelector('#discount-btn');
    discountBtn.addEventListener('click', (event) => {
        event.preventDefault;
        alert('Chưa phát triển tính năng')
    })
</script>